<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEFAULT_BUTTON</key>
	<dict>
		<key>BACKGROUND</key>
		<string>SNS_PAARS</string>
		<key>TEXT_COLOUR</key>
		<string>DEFAULTS_WHITE</string>
	</dict>
	<key>ACTION_BUTTON</key>
	<dict>
		<key>BACKGROUND</key>
		<string>SNS_ORANJE</string>
		<key>TEXT_COLOUR</key>
		<string>DEFAULTS_WHITE</string>
	</dict>
	<key>NAVIGATION_BAR</key>
	<dict>
		<key>BACKGROUND</key>
		<string>SNS_PAARS</string>
		<key>TEXT_COLOUR</key>
		<string>DEFAULTS_WHITE</string>
		<key>THEME</key>
		<integer>1</integer>
	</dict>
	<key>API</key>
	<dict>
		<key>URL</key>
		<string>http://178.62.252.32:8080/</string>
		<key>AUTH</key>
		<dict>
			<key>ENABLED</key>
			<integer>1</integer>
			<key>TYPE</key>
			<string>BASIC</string>
			<key>SETTINGS</key>
			<dict>
				<key>username</key>
				<string>sns</string>
				<key>password</key>
				<string>JH(5t7ywq4ufh974H$(U)t84w</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
